.nav_section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
  top: 0;
}

.nav_section img {
  width: 50px;
}

.menu_section {
  display: flex;
  gap: clamp(2rem, 1.4rem + 3vw, 5rem);
}

.menu_links img {
  width: 10px;
}

.menu_links a:hover {
  color: var(--Orange);
}

.menu_link {
  text-transform: uppercase;
  font-size: clamp(0.8rem, 0.76rem + 0.2vw, 1rem);
}

.menu_number {
  margin-right: 5px;
  font-size: .6rem;
}