.hero_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Mediative';
  color: var(--Black);
  width: 100vw;
  font-size: clamp(1.5rem, 0.6rem + 4.5vw, 6rem);
}

.hero h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--Black);
}

.hero h1 img {
  height: clamp(0.625rem, 0.5rem + 0.625vw, 1.25rem);
}

.hero h2 {
  color: var(--Orange);
  transition: letter-spacing 1s;

}

.hero h2:hover {
  letter-spacing: -.03em;
  transition: letter-spacing .3s ease-in;
}

.hero_container h3 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 100;
}

.arrow img {
  display: flex;
  justify-content: flex-start;
  rotate: 90deg;
  width: 15%;
}

.about {
  text-align: justify;
  padding: 0 1rem 0 1rem;
}

/* slider */
.slide_grid {
  display: flex;
  position: absolute;
  bottom: 0;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .slide svg {
  height: clamp(1.5rem, 1.4385rem + 0.3077vw, 1.8rem);
}

.highlight {
  text-transform: uppercase;
  font-family: 'Mediative';
}

/* Overlay */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 99;
}

.first {
  background: var(--Light-Purple);
}

.second {
  background: var(--Light-Purple);
  left: 33.3%;
}

.third {
  background: var(--Light-Purple);
  left: 66.6%;
}