/* Colors */
:root {
  --Orange: #FF451D;
  --Black: #000103;
  --White: #ede8e4;
}

/* Fonts */

@font-face {
  font-family: 'Romalika';
  src: url(./../fonts/romalika/ROMALIKA.otf);
}

@font-face {
  font-family: 'Pergola';
  src: url(./../fonts/pergola/Pergola-Demo.otf);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
a, li, ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  overflow: hidden;
}

/* Set core body defaults */
body {
  background-color: var(--White);
  height: 100vh;
  width: 100vw;
  color: var(--Black);
  font-family: 'Pergola';
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: smooth;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: smooth !important;
  }
}

::-webkit-scrollbar{
  width: 5px;
  background-color:var(--White);
}
::-webkit-scrollbar-thumb{
  background-color:var(--Light-Purple);
  border-radius: 10px;
}