.burger_menu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.burger_bar {
  width: 2rem;
  height: .3rem;
  background-color: var(--Orange);
  border-radius: .2rem;
  margin-bottom: .15rem;
}

.menu {
  display: block;
  height: 100%;
  background-color: var(--White);
  position: absolute;
  z-index: -1;
}

.hidden {
  display: none;
}

.visible {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
}

.burger_bar {
  font-size: 5px;
}

.burger_bar.clicked:nth-child(1){
  transform: rotate(45deg) translate(0.75em, 1.25em);
  transition: ease-out 0.5s;
  z-index: 2;
}

.burger_bar.clicked:nth-child(2){
  transform: scale(0.1);
  transition: ease-out 0.5s;
  z-index: 2;
}

.burger_bar.clicked:nth-child(3){
  transform: rotate(135deg) translate(-0.5em, 1em);
  transition: ease-out 0.5s;
  z-index: 2;
}

.burger_bar .unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.hoverEffect {
  transition: all 0.3s ease;
}

/* links */
.menu_section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.menu_links {
  padding-bottom: 3rem;
}

.menu_link {
  color: var(--Orange);
  text-transform: uppercase;
  font-size: clamp(3rem, 1.6rem + 7vw, 10rem);  transition: letter-spacing 1s;
}

.menu_link:hover {
  letter-spacing: -.03em;
  transition: letter-spacing .3s ease-in-out;
}

.menu_number {
  color: var(--Orange);
  margin-right: 5px;
  font-size: clamp(1rem, 0.7949rem + 1.0256vw, 2rem);
}