.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 99;
}

.first {
  background: var(--Orange);
  left: 0%;
}

.second {
  background: var(--Orange);
  left: 33.3%;
}

.third {
  background: var(--Orange);
  left: 66.6%;
}
